PORT=5000
MONGODB_URI=mongodb://localhost:27017/kuku-fm-clone
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpassword
JWT_SECRET=supersecretjwtsecretkey
UPLOAD_DIR=./uploads
WEBSITE_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
